@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  color: #1A202C;
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p{
  margin-bottom: 12px;
  font-size: inherit;
}
h1 {
  line-height: 1.15;
  font-size: 6rem;
  font-weight: 700;
  font-family: Playfair Display, serif;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  line-height: 1.15;
  font-size: 3rem;
  font-weight: 700;
  font-family: inherit;
}
h3 {
  line-height: 1.15;
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  line-height: 1.15;
font-size: 1.2rem;
font-weight: 700;
}

h6 {
  line-height: 1.15;
  font-size: 1.6rem;
}

b {
  font-weight: bold;
}

.text-50px {
  font-size: 50px;
}

.color-white {
  color: #FFF;
}

.max-width-186px {
  max-width: 186px;
}

.max-width-186px {
  max-width: 186px;
}

.footer h4 {
  margin-bottom: 1rem;
}

.footer p {
  margin-bottom: 0;
}

.footer span {
  margin-bottom: 0;
}

.three-column-count p {
  margin-bottom: 0;
}

.fake-header {
  height: 90px;
}

.PolicyContent h3 {
  margin-bottom: 1rem;
}

.PolicyContent p {
  margin-bottom: 1rem;
}